<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <section class="" style="background-color: #eee; min-height:100vh;">
        {{>navbar}}
    </section>
    {{>footer}}
</body>
</html>
